.datelocationtag-description,
.datelocationtag-location,
.datelocationtag-date {
  margin: 0;
  padding: 0;
}

.datelocationtag-description {
  display: table-cell;
  padding: 0 5px 0 0;
}

.datelocationtag-date {
  display: table-cell;
  width: 35%;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.datelocationtag-location {

}

@media only screen and (min-width: 426px) {
  .datelocationtag-description {
    padding: 0 5px;
  }

  .datelocationtag-date {
  }

  .datelocationtag-date {
    width: 30%;
    text-align: right;
  }
}
