.resume ul {
  list-style-type: circle;
}

.resume-header,
.resume-section {
  margin: 0 0 1.5em 0;
}

.resume-header {
  text-align: center;
  p {
    margin: 0 0 0.5em 0;
  }
}

.resume-section {
  display: table-row;

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
  }
}

.resume-section-title,
.resume-section-content {
  display: block;
}

.resume-section-title {
  text-align: center;
}

.exp-blurb .title,
.exp-blurb .date,
.exp-blurb .location {
  margin: 0;
  padding: 0;
}

.exp-blurb {
  display: table;
  width: 100%;
}

.exp-blurb .title {
  display: table-cell;
  padding: 0 5px 0 0;
}

.exp-blurb .date {
  display: table-cell;
  width: 45%;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.exp-blurb .location {
  display: table-row;
  font-style: italic;
}

.edu-blurb {
  display: table;
  width: 100%;
}

.edu-blurb .title {
  display: table-cell;
}

.edu-blurb .date {
  display: table-cell;
  text-align: right;
  padding: 0 5px;
}

@media only screen and (min-width: 426px) {
  .resume-section-title,
  .resume-section-content {
    display: table-cell;
    padding: 0 10px;
  }

  .exp-blurb .title {
    padding: 0 5px;
  }

  .exp-blurb .date  {
    width: 30%;
    text-align: right;
  }

  .exp-blurb .location {
  }
}
