.resume ul {
  list-style-type: circle;
}

.resume-header,
.resume-section {
  margin: 0 0 10px 0;
}

.resume-header {
  text-align: center;
  p {
    margin: 0;
  }
}

.resume-section {
  display: table-row;
}

.resume-section-title,
.resume-section-content {
  display: block;
}

.resume-section-title {
  text-align: center;
}

@media only screen and (min-width: 426px) {
  .resume-section-title,
  .resume-section-content {
    display: table-cell;
    padding: 0 10px;
  }
}


//////////////////////



.exp-blurb .title,
.exp-blurb .date,
.exp-blurb .location {
  margin: 0;
  padding: 0;
}

.exp-blurb .title {
  display: table-cell;
  padding: 0 5px 0 0;
}

.exp-blurb .date {
  display: table-cell;
  width: 35%;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.exp-blurb .location {

}

@media only screen and (min-width: 426px) {
  .exp-blurb .title {
    padding: 0 5px;
  }

  .exp-blurb .date  {
  }

  .exp-blurb .location {
    width: 30%;
    text-align: right;
  }
}
