.resume ul {
  list-style-type: circle;
}

.resume-header,
.resume-section {
  margin: 0 0 10px 0;
}

.resume-header {
  text-align: center;
  p {
    margin: 0;
  }
}

.resume-section {
  display: table-row;
}

.resume-section-title,
.resume-section-content {
  display: block;
}

.resume-section-title {
  text-align: center;
}

@media only screen and (min-width: 426px) {
  .resume-section-title,
  .resume-section-content {
    display: table-cell;
    padding: 0 10px;
  }
}
