.clear-fix::after { /* keep floating content in flow */
  content: "";
  clear: both;
  display: table;
}

hr {
  overflow:hidden;
}

li {
  list-style-type: circle;
}

.float-left {
  float: left;
  clear: left;
  margin: 0px;
}

.float-right {
  float: right;
  clear: right;
  margin: 0px;
}

.shiftbox {
  margin: 0 0 1.5em;
}

@import 'dnds/dnds';
