.clear-fix::after { /* keep floating content in flow */
  content: "";
  clear: both;
  display: table;
}

hr {
  overflow: hidden;
}

li {
  list-style-type: circle;
}

.float-left {
  float: left;
  clear: left;
  margin: 0px;
}

.float-right {
  float: right;
  clear: right;
  margin: 0px;
}

.shiftbox,
.termbox {
  margin: 0 0 1.5em 0;
}

.subject {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5em;
  width: 20%;
  display: inline-block;
}

.object {
  padding-bottom: 0.5em;
  margin-bottom: 1.0em;
  max-width: 60%;
  display: inline-block;
}

@import 'datelocationtag';

@import 'dnds/dnds';

@import 'resume';
