{{ $delimiter := .Params.Delimiter }}

<div class="resume-header" style="text-align:center;">
  <h2>{{.Params.jobTitle}}</h2>
  <p>{{.Params.name}}</p>
  <p>{{.Params.phone}}</p>
  <p>{{.Params.email}}</p>
</div>

<div class="resume-sections">
{{ $sectionSplits := apply (split .Content (print "<p>" $delimiter $delimiter "</p>")) "trim" "." " \t\n\r" }}
{{ $sectionSplits := apply $sectionSplits "split" "." $delimiter }}
{{ range $sectionSplits }}
  {{ $title := index . 0 }}
  {{ $subject := index . 1 }}
  <span class="resume-section">
    <span class="resume-section-title">
      {{ markdownify $title }}
    </span>
    <span class="resume-section-content">
      {{ markdownify $subject }}
    </span>
  </span>
{{ end }}
</div>
