.dnd-skill-athletics {
  background-color: #FF4DAE;
  color: #F9F871;
}

.dnd-skill-acrobatics,
.dnd-skill-sleight-of-hand,
.dnd-skill-stealth {
  background-color: #4DB9FF;
  color: #F9F871;
}

.dnd-skill-arcana,
.dnd-skill-history,
.dnd-skill-investigation,
.dnd-skill-nature,
.dnd-skill-religion {
  background-color: #D84DFF;
  color: #F9F871;
}

.dnd-skill-animal-handling,
.dnd-skill-insight,
.dnd-skill-medicine,
.dnd-skill-perception,
.dnd-skill-survival {
  background-color: #D1FF4D;
  color: #2F4858;
}

.dnd-skill-deception,
.dnd-skill-intimidation,
.dnd-skill-performance,
.dnd-skill-persuasion {
  background-color: #FFC94D;
  color: #2F4858;
}

.dnd-spell-prestidigitation,
.dnd-spell-frostbite {
  background-color: #845EC2;
  color: #F9F871;
}

.dnd-spell-faerie-fire,
.dnd-spell-sleep {
  background-color: #D65DB1;
  color: #F9F871;
}
