$characterProfileWidth: 200px;

.dnd-character-profile {
  text-align: center;
  width: $characterProfileWidth;
  margin: 0 auto;
}

.dnd-character-abilityscore {
  padding: 0 4px;
  text-align: right;
  width: 75px;
}

.dnd-character-skill,
.dnd-character-language,
.dnd-character-tool,
.dnd-character-spell {
  text-align: center;
  margin: 2px 2px;
  padding: 2px 4px;
}

.dnd-character-abilityscores,
.dnd-character-skills,
.dnd-character-languages,
.dnd-character-tools,
.dnd-character-spells {
  text-align: center;
}

@media only screen and (min-width: 426px) {
  .dnd-character-profile {
    float: right;
    clear: right;
    margin: 0;
  }

  .dnd-character-abilityscore {
    width: 80px;
  }

  .dnd-character-abilityscores,
  .dnd-character-skills,
  .dnd-character-languages,
  .dnd-character-tools,
  .dnd-character-spells {
    display: inline-block;
    max-width: calc(100% - #{$characterProfileWidth});
  }

  .dnd-character-abilityscores {
    display: block;
    max-width: 240px;
  }
}

@import 'colors';
