$characterProfileWidth: 200px;

.entry-content p {
  display: inline-block;
}

.dnd-character-profile {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.dnd-character-abilityscore {
  padding: 0 4px;
  text-align: right;
}

.dnd-character-skill,
.dnd-character-language,
.dnd-character-tool,
.dnd-character-spell {
  text-align: center;
  margin: 2px 2px;
  padding: 2px 4px;
}

.dnd-character-abilityscores,
.dnd-character-skills,
.dnd-character-languages,
.dnd-character-tools,
.dnd-character-spells {
  max-width: 220px;
  text-align: center;
  margin: 0 auto 1.5em auto;
}

@media only screen and (min-width: 426px) {
  .dnd-character-profile {
    float: right;
    clear: right;
    margin: 0;
  }

  .dnd-character-abilityscores,
  .dnd-character-skills,
  .dnd-character-languages,
  .dnd-character-tools,
  .dnd-character-spells {
    display: inline-block;
    max-width: 240px;
    margin: 0 0 1.5em 0;
  }

  .dnd-character-abilityscores {
    display: block;
    margin-left: ((700px-440px)/2); //temp
  }
}

@import 'colors';
