$characterProfileWidth: 200px;

.entry-content p {
  display: inline-block;
}

.dnd-character-profile {
  text-align: center;
  width: $characterProfileWidth;
  margin: 0 auto;
}

.dnd-character-abilityscore {
  width: 33%;
  padding: 0 4px;
  text-align: right;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dnd-character-skill,
.dnd-character-language,
.dnd-character-tool,
.dnd-character-spell {
  text-align: center;
  margin: 2px 2px;
  padding: 2px 4px;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dnd-character-abilityscores,
.dnd-character-skills,
.dnd-character-languages,
.dnd-character-tools,
.dnd-character-spells {
  max-width: 210px;
  text-align: center;
  margin: 0 auto 1.5em auto;

  padding-top: 210px;
  position: relative;
}

@media only screen and (min-width: 426px) {
  .dnd-character-profile {
    float: right;
    clear: right;
  }

  .dnd-character-abilityscores,
  .dnd-character-skills,
  .dnd-character-languages,
  .dnd-character-tools,
  .dnd-character-spells {
    display: inline-block;
    max-width: 235px;
    text-align: center;
    margin: 0 0 1.5em 0;

    padding-top: 235px;
  }

  .dnd-character-abilityscores {
    display: block;
  }
}

@import 'colors';
