.entry-content::after { /* keep floating content in flow, have div respond */
  content: "";
  clear: both;
  display: table;
}

.entry-content ul {
  list-style-type: circle;
}

.entry-content p {
  margin: 0px;
}

.entry-content h1, .entry-content h2,
.entry-content h3, .entry-content h4,
.entry-content h5, .entry-content h6 ::after {
  margin-top: 0px;
  font-size: 1em;
}

h3, h4, h5, h6 {
  display: inline;
}

.important {
  font-weight: bold;
}

.subtext {
  font-style: italic;
}

.resume-header {
  text-align: center;
  margin-bottom: 1.5em;
}

.resume-subject {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.resume-object {
  padding-bottom: 0.5em;
  margin-bottom: 1.0em;
}

@media only screen and (min-width: 731px) {
  // .resume-subject {
  //   float: left;
  //   width: 25%;
  //   padding: 0px 10px 0px 10px;
  // }
  //
  // .resume-object {
  //   float: left;
  //   width: 75%;
  // }
}
