{{ $inner := trim .Inner " \t\n\r" }}
{{ $delimiter := .Get "delimiter" | default "\n" }}
{{ $class := .Get "class" | default "" }}
{{ $childClass := .Get "childClass" | default "" }}
{{ $termClassPrefix := .Get "termClassPrefix" | default ""}}
<div class="termbox packing {{ $class }}">
  {{- range (split $inner $delimiter) -}}
    <span class="termbox-item {{ $termClassPrefix }}-{{ urlize . }} {{ $childClass }}" style="display:inline-block;">
      {{- markdownify . -}}
    </span>
  {{- end -}}
</div>
